includes:
    - 'vendor/phpstan/phpstan/conf/bleedingEdge.neon'
    - 'phpstan-baseline.neon'

parameters:
    level: max
    phpVersion: 80018 # 8.0.18
    tmpDir: 'var/cache/phpstan'
    paths:
        - 'Slim'
        - 'tests'
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkUninitializedProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    tipsOfTheDay: false
